<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Pure CSS Tabs</title>
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="./tabs2.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
  <!-- Tab 1 -->
  <input type="radio" id="tab-link-1" name="tabset" checked>
  <label for="tab-link-1">Tab 1</label>
  <!-- Tab 2 -->
  <input type="radio" id="tab-link-2" name="tabset">
  <label for="tab-link-2">Tab 2</label>
  <!-- Tab 3 -->
  <input type="radio" id="tab-link-3" name="tabset">
  <label for="tab-link-3">Tab 3</label>
  <!-- Tab content -->
  <div class="tab-content">
    <section class="tab-panel" id="tab-1">
      <h2>Tab 1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempor, velit et tempor molestie, urna purus fringilla neque, nec condimentum purus nibh eu tortor. Curabitur non maximus mi. Suspendisse cursus libero nisi, ac imperdiet purus malesuada vel. Cras maximus in quam vel sagittis. Sed ut cursus turpis. Mauris a ipsum congue, sagittis risus commodo, tincidunt mi. Sed mi ante, viverra et iaculis sollicitudin, malesuada vitae turpis. Proin nisl neque, semper a nisl et, dictum feugiat nulla.</p>
      <p>Praesent sit amet molestie nunc. In nec tellus cursus, malesuada urna quis, tristique nisl. Vivamus iaculis tempus libero. Mauris nec elit semper, volutpat dolor eu, gravida mauris. Maecenas sed ullamcorper justo. Cras sit amet massa augue. Nam posuere nec justo at auctor.</p>
    </section>
    <section class="tab-panel" id="tab-2">
      <h2>Tab 2</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec accumsan elit, et eleifend odio. Integer sed mi vel enim dapibus congue. Proin consequat augue sed tellus egestas gravida. Curabitur vel nibh sit amet metus semper rutrum. Etiam augue ex, aliquam sed convallis vitae, vulputate non diam. Aenean tempus diam in cursus interdum. Mauris tincidunt accumsan leo, eget mattis ex mattis eget.</p>
      <p>Aliquam ligula erat, tristique vitae orci eu, tristique semper velit. Suspendisse scelerisque et nisl quis convallis. Maecenas at libero ipsum. Quisque elementum metus id mauris pretium, bibendum auctor libero tincidunt. Cras dolor diam, faucibus vel massa eu, vestibulum bibendum lorem. Cras vel massa vitae ipsum dapibus imperdiet vel eu magna. Morbi ac augue non nibh ullamcorper.</p>
    </section>
    <section class="tab-panel" id="tab-3">
      <h2>Tab 3</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies risus vel nibh malesuada, ut ultricies massa sagittis. Proin vestibulum bibendum velit, in congue neque eleifend eget. Vivamus quis turpis non odio tempus dapibus quis et ligula. Mauris molestie tincidunt tellus, sed interdum est egestas sed. Sed id ligula neque. Sed consequat venenatis metus a faucibus. Morbi mauris nulla, finibus at laoreet a, interdum sit amet dui. Cras convallis purus arcu, ut feugiat odio mattis vitae. Aliquam fringilla justo quis sagittis lobortis.</p>
      <p>Quisque suscipit pulvinar nunc, at auctor turpis. Nullam ex turpis, fringilla ut blandit vel, laoreet id turpis. Etiam velit ex, laoreet et felis eu, placerat tincidunt sem. Praesent ut ex ipsum. Suspendisse potenti. Quisque imperdiet lorem sit amet varius condimentum. Quisque id rhoncus nibh, vel semper velit. Class aptent taciti.</p>
    </section>
  </div>
</div>
<!-- partial -->

</body>
</html>
