<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Notification Budge Using HTML &amp; CSS</title>
    <link
      rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
    /><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="budgecard">
      <a href="#" class="notification">
        <i class="fa fa-bell-o"></i>
        <span class="badge">4</span>
      </a>
</div>
<!-- partial -->
  
</body>
</html>
