.content {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

section {
  display: grid;
  grid: auto/200px 1fr;
  grid-gap: 0 2em;
}
section p {
  grid-column: 2/3;
}

.section-title {
  grid-column: 1/2;
  text-align: right;
  align-self: start;
  top: 1em;
  position: sticky;
  top: 1em;
}