*, *::before, *::after {
  /* Use a more-intuitive box-sizing model */
  box-sizing: border-box;
}

* {
  /* Remove default margin */
  margin: 0;
}

html, body {
  /* Allow percentage-based heights in the application */
  height: 100%;
}

body {
  /* Add accessible line-height */
  line-height: 1.5;

  /* Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  /* Improve media defaults */
  display: block;
  max-width: 100%;
}

input, button, textarea, select, input[type="file"])::-webkit-file-upload-button {
  /* Remove built-in form typography styles */
  font: inherit;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  letter-spacing: inherit
}

p, h1, h2, h3, h4, h5, h6 {
  /* Avoid text overflows */
  overflow-wrap: break-word;
}

#root, #__next {
  /* Create a root stacking context */
  isolation: isolate;
}

:root {
  /* Scroll behaivor */
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}

table {
  /* remove spacing between table cells */
  border-collapse: collapse;
}