<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CodePen - Pure CSS Custom Checkbox Style</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./checkbox3.css" />
  </head>
  <body>
    <!-- partial:index.partial.html -->
    <form action="">
      <label class="form-control">
        <input type="checkbox" name="checkbox" />
        Checkbox
      </label>

      <label class="form-control">
        <input type="checkbox" name="checkbox-checked" checked />
        Checkbox - checked
      </label>

      <label class="form-control form-control--disabled">
        <input type="checkbox" name="checkbox-disabled" disabled />
        Checkbox Disabled
      </label>

      <label class="form-control form-control--disabled">
        <input
          type="checkbox"
          name="checkbox-disabled-checked"
          checked
          disabled
        />
        Checkbox Disabled - checked
      </label>
    </form>
    <!-- partial -->
  </body>
</html>
