<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CodePen - Range</title>
    <link rel="stylesheet" href="./range-slider2.css" />
  </head>
  <body>
    <!-- partial:index.partial.html -->
    <div class="container">
      <form class="range">
        <div class="form-group range__slider">
          <input type="range" step="500" />
        </div>
        <!--/form-group-->
        <div class="form-group range__value">
          <label>Loan Amount</label>
          <span></span>
        </div>
        <!--/form-group-->
      </form>
    </div>
    <!--/container-->
    <!-- partial -->
    <script src="./range-slider2.js"></script>
  </body>
</html>
