<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Ribbon Corner-copia</title>
  <link rel="stylesheet" href="./ribbon2.css">

</head>
<body>
<!-- partial:index.partial.html -->
<h1>Corner ribbons for cards</h1>
<div class='card-wrap'>
  <div class='card'>
    <div class='set-image'><p>Straight fold</p></div>
    <div class='set-headline'></div>
    <div class='set-text'></div>
    <div class='set-text'></div>
    <div class='set-text'></div>
    <div class='set-text'></div>
    <div class='set-text'></div>
    <div class='set-text'></div>
    <div class='ribbon-wrapper-1'>
      <div class='ribbon-1'>Ribbon</div>
    </div>
  </div>
  <div class='card'>
    <div class='set-image'><p>Angled fold - more realistic</p></div>
    <div class='set-headline'></div>
    <div class='set-text'></div>
    <div class='set-text'></div>
    <div class='set-text'></div>
    <div class='set-text'></div>
    <div class='set-text'></div>
    <div class='set-text'></div>
    <div class='ribbon-wrapper-2'>
      <div class='ribbon-2'>Ribbon</div>
    </div>
  </div>
  <div class='card'>
    <div class='set-image'><p>Straight fold on left</p></div>
    <div class='set-headline'></div>
    <div class='set-text'></div>
    <div class='set-text'></div>
    <div class='set-text'></div>
    <div class='set-text'></div>
    <div class='set-text'></div>
    <div class='set-text'></div>
    <div class='ribbon-wrapper-3'>
      <div class='ribbon-3'>Ribbon</div>
    </div>
  </div>
  <div class='card'>
    <div class='set-image'><p>Gradient - from top to bottom. Angled fold and text shadow</p></div>
    <div class='set-headline'></div>
    <div class='set-text'></div>
    <div class='set-text'></div>
    <div class='set-text'></div>
    <div class='set-text'></div>
    <div class='set-text'></div>
    <div class='set-text'></div>
    <div class='ribbon-wrapper-4'>
      <div class='ribbon-4'>Ribbon</div>
    </div>
  </div>
  <div class='card'>
    <div class='set-image'><p>Gradient - from centre radial. Angled fold and text shadow</p></div>
    <div class='set-headline'></div>
    <div class='set-text'></div>
    <div class='set-text'></div>
    <div class='set-text'></div>
    <div class='set-text'></div>
    <div class='set-text'></div>
    <div class='set-text'></div>
    <div class='ribbon-wrapper-5'>
      <div class='ribbon-5'>Ribbon</div>
    </div>
  </div>
  <div class='card'>
    <div class='set-image'><p>Gradient - from centre linear. Angled fold and text shadow</p></div>
    <div class='set-headline'></div>
    <div class='set-text'></div>
    <div class='set-text'></div>
    <div class='set-text'></div>
    <div class='set-text'></div>
    <div class='set-text'></div>
    <div class='set-text'></div>
    <div class='ribbon-wrapper-6'>
      <div class='ribbon-6'>Ribbon</div>
    </div>
  </div>
  <div class='card'>
    <div class='set-image'><p>Solid line on ribbon</p></div>
    <div class='set-headline'></div>
    <div class='set-text'></div>
    <div class='set-text'></div>
    <div class='set-text'></div>
    <div class='set-text'></div>
    <div class='set-text'></div>
    <div class='set-text'></div>
    <div class='ribbon-wrapper-7'>
      <div class='ribbon-7'>Ribbon</div>
    </div>
  </div>
  <div class='card'>
    <div class='set-image'><p>Dotted line on ribbon</p></div>
    <div class='set-headline'></div>
    <div class='set-text'></div>
    <div class='set-text'></div>
    <div class='set-text'></div>
    <div class='set-text'></div>
    <div class='set-text'></div>
    <div class='set-text'></div>
    <div class='ribbon-wrapper-8'>
      <div class='ribbon-8'>Ribbon</div>
    </div>
  </div>
  <div class='card'>
    <div class='set-image'><p>Full works - alt colour</p></div>
    <div class='set-headline'></div>
    <div class='set-text'></div>
    <div class='set-text'></div>
    <div class='set-text'></div>
    <div class='set-text'></div>
    <div class='set-text'></div>
    <div class='set-text'></div>
    <div class='ribbon-wrapper-9'>
      <div class='ribbon-9'>Ribbon</div>
    </div>
  </div>
</div>
<!-- partial -->

</body>
</html>
