<!--
<button class="button">
    <div class="icon"></div>
    <div class="label"></div>
</button>
-->

<!--
.button {
                        /* Center the content */
                        align-items: center;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                    }
-->

<div style="align-items: center; display: flex; flex-direction: column; height: 100%; justify-content: center; padding: 8px;">
    <div style="width: 256px;">
        <button style="align-items: center; border: 1px solid rgba(0, 0, 0, 0.3); border-radius: 8px; display: flex; height: 64px; padding: 8px; width: 100%;">
            <div style="margin-right: 8px;"><div style="background-color: rgba(0, 0, 0, 0.3); border-radius: 9999px; height: 32px; width: 32px;"></div></div>
            <div style="background-color: rgba(0, 0, 0, 0.3); border-radius: 0.25rem; height: 8px; width: 100%;"></div>
        </button>
    </div>
</div>
