<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Icon Inside Form Input</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/fontawesome.min.css'><link rel="stylesheet" href="./text-input3.css">

</head>
<body>
<!-- partial:index.partial.html -->
<h1 style="text-align: center;">Icons inside input element example</h1>
<form>
  <div class="inputContainer">
    <i class="fa fa-user icon"> </i>
    <input class="Field" type="text" placeholder="Username" />
  </div>

  <div class="inputContainer">
    <i class="fa fa-envelope icon"> </i>
    <input class="Field" type="text" placeholder="Email" />
  </div>

  <div class="inputContainer">
    <i class="fa fa-key icon"> </i>
    <input class="Field" type="password" placeholder="Password" />
  </div>
</form>
<!-- partial -->
  <script src='https://use.fontawesome.com/aaba26af8a.js'></script>
</body>
</html>
