<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CodePen - Amazing Clear Input Using HTML &amp; JS</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="./text-input2.css" />
  </head>
  <body>
    <!-- partial:index.partial.html -->
    <div class="form">
      <input
        oninput="return showIcon()"
        class="username"
        type="text"
        autocomplete="off"
        placeholder="Username"
      />
      <div class="img">
        <span class="fa fa-close"></span>
      </div>
    </div>
    <!-- partial -->
    <script src="./text-input2.js"></script>
  </body>
</html>
