:root {
  --container-width: 400px;
  --content-width: 200px;
  --bg-container-color: blue;
  --bg-content-color: yellow;
  --container-margin: 20px;
  --fs-small: 2rem;
}

.center-translate {
  position: relative;
  background-color: var(--bg-container-color);
  width: var(--container-width);
  aspect-ratio: 1/1;
  margin: var(--container-margin);
}

.center-translate__content {
  position: absolute;
  background-color: var(--bg-content-color);
  width: var(--content-width);
  aspect-ratio: 1/1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-translate__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-flexbox {
  display: flex;
	justify-content: center;
  align-items: center;
  background-color: var(--bg-container-color);
  width: var(--container-width);
  aspect-ratio: 1/1;
  margin: 20px;
}

.center-flexbox__content {
  background-color: var(--bg-content-color);
  width: var(--content-width);
  aspect-ratio: 1/1;

  display:flex;
  align-items: center;
  justify-content:space-around;
}

.center-grid {
  display: grid;
	place-items: center;
  background-color: var(--bg-container-color);
  width: var(--container-width);
  aspect-ratio: 1/1;
  margin: 20px;
}

.center-grid__content {
  background-color: var(--bg-content-color);
  width: var(--content-width);
  aspect-ratio: 1/1;
  display: grid;
	place-items: center;

}

.icon {
  display:inline-flex;
  align-items: center;
  font-size: var(--fs-small);
}
