<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CodePen - CSS Multi Position Radio Switches</title>
    <link rel="stylesheet" href="./toggle-switch3.css" />
  </head>
  <body>
    <!-- partial:index.partial.html -->
    <h1>Multi Position Radio Switches</h1>

    <h2>Two Pos</h2>
    <div class="multi-radio-toggle multi-radio-toggle--two">
      <input type="radio" id="mt-first1" name="toggle_option1" checked />
      <input type="radio" id="mt-second1" name="toggle_option1" />
      <label for="mt-first1" class="multi-radio-toggle__label"
        ><p>Mild</p></label
      >
      <label for="mt-second1" class="multi-radio-toggle__label"
        ><p>Spicy</p></label
      >
      <div class="multi-radio-toggle__slide-bg"></div>
    </div>

    <h2>Three Pos</h2>
    <div class="multi-radio-toggle multi-radio-toggle--three">
      <input type="radio" id="mt-first2" name="toggle_option2" />
      <input type="radio" id="mt-second2" name="toggle_option2" checked />
      <input type="radio" id="mt-third2" name="toggle_option2" />
      <label for="mt-first2" class="multi-radio-toggle__label"
        ><p>Lions</p></label
      >
      <label
        for="mt-second2"
        class="multi-radio-toggle__label multi-radio-toggle__label--align-bottom"
        ><p>Tigers</p></label
      >
      <label for="mt-third2" class="multi-radio-toggle__label"
        ><p>Bears</p></label
      >
      <div class="multi-radio-toggle__slide-bg"></div>
    </div>

    <h2>Four Pos</h2>
    <div class="multi-radio-toggle multi-radio-toggle--four">
      <input type="radio" id="mt-first3" name="toggle_option3" checked />
      <input type="radio" id="mt-second3" name="toggle_option3" />
      <input type="radio" id="mt-third3" name="toggle_option3" />
      <input type="radio" id="mt-fourth3" name="toggle_option3" />
      <label for="mt-first3" class="multi-radio-toggle__label"
        ><p>Fred</p></label
      >
      <label
        for="mt-second3"
        class="multi-radio-toggle__label multi-radio-toggle__label--align-bottom"
        ><p>Ted</p></label
      >
      <label
        for="mt-third3"
        class="multi-radio-toggle__label multi-radio-toggle__label--align-bottom"
        ><p>Jed</p></label
      >
      <label for="mt-fourth3" class="multi-radio-toggle__label"
        ><p>Ned</p></label
      >
      <div class="multi-radio-toggle__slide-bg"></div>
    </div>
    <!-- partial -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  </body>
</html>
