

* {
  box-sizing: border-box;
}



p {
  margin: 0;
}

.container {
  padding: 1rem 0;
  max-width: 80ch;
  margin: 0 auto;
  box-shadow: inset 0 0 0 2px #ccc;
}

.column {
  margin: 1rem;
  background-color: #ccc;
}

.element {
  padding: 0.5rem;
  background-color: rebeccapurple;
  color: #fff;
}


.grid {
  display: grid;
  grid-auto-flow: column;
  .element {
    height: 100%;
  }
}


