#masonry-effect {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    a {
      color: white;
      font-size: 2rem;
      font-weight: 800;
    }
    .item {
        flex-direction: column;
        margin-right: 1.5rem;
        margin-bottom: 1.5rem;
      color: white;
        position: relative;
        width: calc(33.3% - 1.5rem);
        background: linear-gradient(45deg, #281dd4, #a42bff);
        border-radius: 12px;
        padding: 1rem;
        font-size: 1.25rem;
        box-sizing: border-box;
        font-variation-settings: 'wght' 600;
    }
    .item:nth-of-type(5) {
        background: linear-gradient(45deg, #d4581d, #ffbe2b);
    }
    .item:nth-of-type(3) {
        background: linear-gradient(45deg, #d41d71, #a42bff);
    }
    .item:nth-of-type(1) {
        background: linear-gradient(45deg, #1d5ed4, #2bbbff);
    }
    .item:nth-of-type(9), .item:nth-of-type(7) {
        background: linear-gradient(45deg, #85d41d, #2bd8ff);
    }

body {
  background: black;
  padding: 3rem;
}