<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Grid Carousel with &quot;Tiny Slider&quot;</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/tiny-slider.css'><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="tartist-tiny-slider-wrap">
  <div class="tartist-tiny-slider" data-chunksize="6">
    <div class="tartist-tiny-slider__item">Item 1</div>
    <div class="tartist-tiny-slider__item">Item 2</div>
    <div class="tartist-tiny-slider__item">Item 3</div>
    <div class="tartist-tiny-slider__item">Item 4</div>
    <div class="tartist-tiny-slider__item">Item 5</div>
    <div class="tartist-tiny-slider__item">Item 6</div>
    <div class="tartist-tiny-slider__item">Item 7</div>
    <div class="tartist-tiny-slider__item">Item 8</div>
    <div class="tartist-tiny-slider__item">Item 9</div>
    <div class="tartist-tiny-slider__item">Item 10</div>
    <div class="tartist-tiny-slider__item">Item 11</div>
    <div class="tartist-tiny-slider__item">Item 12</div>
    <div class="tartist-tiny-slider__item">Item 13</div>
    <div class="tartist-tiny-slider__item">Item 14</div>
    <div class="tartist-tiny-slider__item">Item 15</div>
  </div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js'></script><script  src="./script.js"></script>

</body>
</html>
