<!DOCTYPE html>
<html>
  <head>
    <link href="./box-with-shadow.css" rel="stylesheet" />
  </head>

  <body>
    <div class="wrap">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem,
        quae at! Voluptas maiores nam quae, eius culpa, dignissimos cupiditate
        modi id, tempore ducimus sequi ratione illo illum. Eum, nihil iusto.
      </p>
      <p>
        Quibusdam nobis magni accusantium quasi placeat dicta. Fugit in
        incidunt, dolores facilis alias odio saepe quos excepturi assumenda
        totam quae numquam mollitia blanditiis. Illo nihil veritatis
        praesentium, deleniti iure velit?
      </p>
      <p>
        Sed quibusdam assumenda illo? Nostrum corrupti culpa earum beatae minus,
        alias ipsam odit numquam a asperiores consequuntur quasi ex accusantium
        perferendis perspiciatis ab enim quas deleniti explicabo nobis ad eaque.
      </p>
      <p>
        Quasi placeat voluptas vitae odit amet sunt accusantium nihil! Similique
        impedit reprehenderit non doloribus ut velit eveniet cumque. Adipisci
        maiores molestias dignissimos veniam maxime excepturi voluptatibus et
        repudiandae inventore ea?
      </p>
    </div>
  </body>
</html>
