<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Simple accessible tooltip example</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="./accessible-tooltip.css">

</head>
<body>
<!-- partial:index.partial.html -->
<button class="tooltip tooltip--top"  aria-describedby="mytooltip">
  <span class="tooltip-title">I'm a aaa</span>
  <div id="mytooltip" role="tooltip" class="tooltip-container">
    <p class="tooltip-content">
      <h3>Tooltip Content</h3>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero maxime in tempore aspernatur quo, dignissimos dolorum ab commodi. Deleniti quae aspernatur unde natus repudiandae dolorem eum ipsa, nam laboriosam magnam?
    </p>
  </div>
</button>
<!-- partial -->

</body>
</html>
