<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - CSS Simple Tooltip</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="./tooltip4.css">

</head>
<body>
<!-- partial:index.partial.html -->
<h1>CSS Simple Tooltip</h1>

<div class="demo">
  <p><a href="#" data-tooltip="I’m the tooltip text.">I’m a link with a tooltip.</a></p>

  <p><button data-tooltip="I’m the tooltip text.">I’m a button with a tooltip</button></p>
</div>
<!-- partial -->

</body>
</html>
