<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - CSS only tooltips</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,400i,700" rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="./tooltip.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class='center'>
	<div class='field'>
		<button class='has-tooltip'>This is a button</button>
		<span class='tooltip blue'><p>This is a blue tooltip</p></span>
	</div>
	<div class='field'>
		<button class='has-tooltip'>This is a button</button>
		<span class='tooltip red'>
			<p>This is a red tooltip</p>
			<img src="http://www.placehold.it/1920X1080" />
		</span>
	</div>

	<div class='field'>
		<button class='has-tooltip'>This is a button</button>
		<span class='tooltip green'>
			<p>This is a green tooltip</p>
		</span>
	</div>

	<div class='field'>
		<button class='has-tooltip'>This is a button</button>
		<span class='tooltip purple'>
			<p>This is a purple tooltip</p>
		</span>
	</div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
</body>
</html>
