<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CodePen - Choose your menu #28ComponentsOfFebruaryDay16</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
    />
    <link rel="stylesheet" href="./menu4.css" />
  </head>
  <body>
    <!-- partial:index.partial.html -->
    <h1 class="challenge-title">Choose your menu</h1>
    <h2 class="challenge-subtitle">#28ComponentsOfFebruaryDay16</h2>
    <p class="challenge-part-of">
      Part of
      <a href="https://codepen.io/collection/DQRePJ" target="_blank"
        >28 Components of February</a
      >
      collection.
    </p>

    <div class="menu-container">
      <div class="menu-item">
        <button class="btn btn-meatball">
          <span class="dot"></span>
        </button>
        <h3 class="menu-title">Meatball Box</h3>
      </div>
      <div class="menu-item">
        <button class="btn btn-hamburger">
          <span class="line"></span>
        </button>
        <h3 class="menu-title">Hamburger Box</h3>
      </div>
      <div class="menu-item">
        <button class="btn btn-doner">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </button>
        <h3 class="menu-title">Doner Box</h3>
      </div>
      <div class="menu-item">
        <button class="btn btn-bento">
          <span class="square"></span>
          <span class="square"></span>
          <span class="square"></span>
          <span class="square"></span>
          <span class="square"></span>
          <span class="square"></span>
          <span class="square"></span>
          <span class="square"></span>
          <span class="square"></span>
        </button>
        <h3 class="menu-title">Bento Box</h3>
      </div>
      <div class="menu-item">
        <button class="btn btn-kebab">
          <span class="dot"></span>
        </button>
        <h3 class="menu-title">Kebab Box</h3>
      </div>
    </div>
    <!-- partial -->
    <script src="./menu4.js"></script>
  </body>
</html>
