<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="pricing-table.css">
</head>

<body>
  <div class='container'>
    <div class='boxes'>
      <div class='box box-outer'>
        <h2 class='title'>Starter</h2>
        <div class='price'>
          <span class="price-value">£9</span><span class="price-billed">/mo</span>
        </div>
        <ul class='features'>
          <li>Shared</li>
          <li>512mb ram</li>
          <li>20gb HDD</li>
          <li>200gb bandwidth</li>
          <li>
            <s>Choice of OS</s>
          </li>
          <li>
            <s>Host multiple sites</s>
          </li>
        </ul>
        <a class='button' href='#'>Order starter</a>
      </div>
      <div class='box box-inner'>
        <h2 class='title'>Developer</h2>
        <div class='price'>
          <span class="price-value">£18</span><span class="price-billed">/mo</span>
        </div>
        <ul class='features'>
          <li>VPS</li>
          <li>4gb ram</li>
          <li>40gb SSD</li>
          <li>1tb bandwidth</li>
          <li>Choice of OS</li>
          <li>Host multiple sites</li>
        </ul>
        <a class='button' href='#'>Order developer</a>
      </div>
      <div class='box box-outer'>
        <h2 class='title'>Business</h2>
        <div class='price'>
          <span class="price-value">£36</span><span class="price-billed">/mo</span>
        </div>
        <ul class='features'>
          <li>Dedicated</li>
          <li>12gb ram</li>
          <li>120gb SSD</li>
          <li>1tb bandwidth</li>
          <li>Choice of OS</li>
          <li>Host multiple sites</li>
        </ul>
        <a class='button' href='#'>Order business</a>
      </div>
    </div>
  </div>

</body>

</html>