<!DOCTYPE html>
<html>

<head>
  <meta charset=utf-8>
  <meta content="width=device-width,initial-scale=1" name=viewport>
  <title></title>

</head>

<body>
  <!DOCTYPE html>
  <html>

  <head>
    <link rel="stylesheet" href="./card-aspect-ratio.css">
    <link href=https://codepen.io/web-dot-dev/pen/54c079f4ba2f7cf20163b8bd89280de2.css rel=stylesheet>
  </head>

  </html>
  <div class=parent>
    <div class=card>
      <h1>Video Title</h1>
      <div class=visual></div>
      <p>Descriptive Text goes here</p>
    </div>
  </div>
</body>

</html>