html,
body {
  height: 100%;
  margin: 0;
}

figure {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

figure > img {
  max-width: 100%;
  object-fit: contain;
}
.parent {
  display: grid;
  place-items: center;
}

.visual {
  aspect-ratio: 16 / 9;
}

.card {
  /* width: 50%; */
  width: clamp(23ch, 60%, 46ch);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
