<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CodePen - sticky footer sticky</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <!-- partial:index.partial.html -->
    <header>Header</header>
    <main>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem vel
        cumque quis animi nisi, odit totam laborum quam molestias sed quidem,
        dolorum deleniti quae possimus obcaecati eaque praesentium alias!
        Aperiam.
      </p>
      <p>
        Blanditiis maxime odit expedita modi a itaque? Placeat expedita nam, aut
        ea odit dolores est optio ut odio pariatur! Similique pariatur
        perferendis quaerat sequi. Eligendi qui illo nesciunt voluptates
        facilis!
      </p>
      <p>
        Reiciendis rem inventore asperiores sapiente cupiditate officia facilis
        earum accusantium deserunt, incidunt molestias! Fuga fugiat eveniet
        explicabo. Eveniet soluta voluptates saepe minima veniam illum error
        atque quibusdam, veritatis cupiditate culpa.
      </p>
      <p>
        Voluptatum eligendi totam, beatae ut ea, minus aut voluptate atque eaque
        maiores officiis praesentium aperiam impedit consectetur vero quia at
        nostrum? Similique dolorem cupiditate quis veniam! Soluta assumenda
        voluptatum delectus.
      </p>
      <p>
        Voluptatum eligendi totam, beatae ut ea, minus aut voluptate atque eaque
        maiores officiis praesentium aperiam impedit consectetur vero quia at
        nostrum? Similique dolorem cupiditate quis veniam! Soluta assumenda
        voluptatum delectus.
      </p>
      <p style="height: 600px">
        Voluptatum eligendi totam, beatae ut ea, minus aut voluptate atque eaque
        maiores officiis praesentium aperiam impedit consectetur vero quia at
        nostrum? Similique dolorem cupiditate quis veniam! Soluta assumenda
        voluptatum delectus.
      </p>
      <p>
        Voluptatum eligendi totam, beatae ut ea, minus aut voluptate atque eaque
        maiores officiis praesentium aperiam impedit consectetur vero quia at
        nostrum? Similique dolorem cupiditate quis veniam! Soluta assumenda
        voluptatum delectus.
      </p>
      <p>
        Voluptatum eligendi totam, beatae ut ea, minus aut voluptate atque eaque
        maiores officiis praesentium aperiam impedit consectetur vero quia at
        nostrum? Similique dolorem cupiditate quis veniam! Soluta assumenda
        voluptatum delectus.
      </p>
      <p>
        Voluptatum eligendi totam, beatae ut ea, minus aut voluptate atque eaque
        maiores officiis praesentium aperiam impedit consectetur vero quia at
        nostrum? Similique dolorem cupiditate quis veniam! Soluta assumenda
        voluptatum delectus.
      </p>
      <p>
        Voluptatum eligendi totam, beatae ut ea, minus aut voluptate atque eaque
        maiores officiis praesentium aperiam impedit consectetur vero quia at
        nostrum? Similique dolorem cupiditate quis veniam! Soluta assumenda
        voluptatum delectus.
      </p>
      <p>
        Voluptatum eligendi totam, beatae ut ea, minus aut voluptate atque eaque
        maiores officiis praesentium aperiam impedit consectetur vero quia at
        nostrum? Similique dolorem cupiditate quis veniam! Soluta assumenda
        voluptatum delectus.
      </p>
      <p>
        Voluptatum eligendi totam, beatae ut ea, minus aut voluptate atque eaque
        maiores officiis praesentium aperiam impedit consectetur vero quia at
        nostrum? Similique dolorem cupiditate quis veniam! Soluta assumenda
        voluptatum delectus.
      </p>
      <p>
        Voluptatum eligendi totam, beatae ut ea, minus aut voluptate atque eaque
        maiores officiis praesentium aperiam impedit consectetur vero quia at
        nostrum? Similique dolorem cupiditate quis veniam! Soluta assumenda
        voluptatum delectus.
      </p>
      <p>
        Voluptatum eligendi totam, beatae ut ea, minus aut voluptate atque eaque
        maiores officiis praesentium aperiam impedit consectetur vero quia at
        nostrum? Similique dolorem cupiditate quis veniam! Soluta assumenda
        voluptatum delectus.
      </p>
      <p>
        Voluptatum eligendi totam, beatae ut ea, minus aut voluptate atque eaque
        maiores officiis praesentium aperiam impedit consectetur vero quia at
        nostrum? Similique dolorem cupiditate quis veniam! Soluta assumenda
        voluptatum delectus.
      </p>
      <p>
        Voluptatum eligendi totam, beatae ut ea, minus aut voluptate atque eaque
        maiores officiis praesentium aperiam impedit consectetur vero quia at
        nostrum? Similique dolorem cupiditate quis veniam! Soluta assumenda
        voluptatum delectus.
      </p>
      <p>
        Voluptatum eligendi totam, beatae ut ea, minus aut voluptate atque eaque
        maiores officiis praesentium aperiam impedit consectetur vero quia at
        nostrum? Similique dolorem cupiditate quis veniam! Soluta assumenda
        voluptatum delectus.
      </p>
      <p>
        Voluptatum eligendi totam, beatae ut ea, minus aut voluptate atque eaque
        maiores officiis praesentium aperiam impedit consectetur vero quia at
        nostrum? Similique dolorem cupiditate quis veniam! Soluta assumenda
        voluptatum delectus.
      </p>
    </main>

    <footer>
      Footer - <a id="add-content" href="" role="button">ADD CONTENT</a> -
      <a id="remove-content" href="" role="button">REMOVE CONTENT</a>
    </footer>
    <!-- partial -->
    <script src="./script.js"></script>
  </body>
</html>
