<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - CSS-Only Direction Aware Hover Effect using :has()</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="./directional-hover.css">

</head>
<body>
<!-- partial:index.partial.html -->
<header class="header">
	<h1 class="header__logo"><a href="https://css-weekly.com" target="_blank"><img src="https://assets.codepen.io/47791/cssweekly-logo-full-white.svg" width="250" alt="CSS Weekly Logo" class="header__img" /></a></h1>
	<nav class="header__nav">
		<ul class="header__ul">
			<li class="header__li"><a href="https://css-weekly.com" target="_blank" class="header__a">Newsletter</a></li>
			<li class="header__li"><a href="https://youtube.com/@cssweekly" class="header__a" target="_blank">YouTube</a></li>
			<li class="header__li"><a href="https://twitter.com/cssweekly" target="_blank" class="header__a">Twitter</a></li>
			<li class="header__li"><a href="https://stickers.css-weekly.com" target="_blank" class="header__a">Stickers</a></li>
		</ul>
	</nav>
</header>
<!-- partial -->

</body>
</html>
