<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CodePen - Horizontal scroll navigation</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
    <link rel="stylesheet" href="./horizaontal-scroll.css" />
  </head>
  <body>
    <!-- partial:index.partial.html -->
    <div class="container example-one">
      <div class="title">All scrolling</div>
      <header class="example-one-header scroll">
        <span class="logo">Logo</span>
        <nav class="vertical-align-middle">
          <span class="nav-item">Blog</span>
          <span class="nav-item">Portfolio</span>
          <span class="nav-item">Downloads</span>
          <span class="nav-item">About</span>
          <span class="nav-item">Contact</span>
        </nav>
      </header>
    </div>
    <div class="container example-two">
      <div class="title">Nav only scrolling</div>
      <header class="example-two-header">
        <span class="logo">Logo</span>
        <nav class="vertical-align-middle scroll">
          <span class="nav-item">Blog</span>
          <span class="nav-item">Portfolio</span>
          <span class="nav-item">Downloads</span>
          <span class="nav-item">About</span>
          <span class="nav-item">Contact</span>
        </nav>
      </header>
    </div>
    <div class="container example-three">
      <div class="title">Nav separated</div>
      <header class="example-three-header">
        <span class="logo">Logo</span>
      </header>
      <nav class="vertical-align-middle scroll">
        <span class="nav-item">Blog</span>
        <span class="nav-item">Portfolio</span>
        <span class="nav-item">Downloads</span>
        <span class="nav-item">About</span>
        <span class="nav-item">Contact</span>
      </nav>
    </div>
    <!-- partial -->
  </body>
</html>
