<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CodePen - Responsive Nav (CSS)</title>
    <link
      href="https://fonts.googleapis.com/css?family=Arvo"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./responsive-nav-css.css" />
  </head>
  <body>
    <!-- partial:index.partial.html -->
    <nav>
      <h2 class="brand">Brand</h2>
      <input type="checkbox" id="nav" />
      <label for="nav">
        <span></span>
        <span></span>
        <span></span>
      </label>
      <ul class="menu">
        <li>Home</li>
        <li>About</li>
        <li>Contact</li>
      </ul>
    </nav>

    <h1>Checkbox Nav</h1>

    <p>
      <span class="first-letter">L</span>orem ipsum dolor sit amet, consectetur
      adipiscing elit. Aliquam sem massa, maximus ut est ac, mollis posuere
      lectus. Morbi vel massa tristique, consectetur lorem in, placerat lectus.
      Maecenas nec scelerisque neque. Aliquam facilisis tristique fringilla.
      Quisque aliquam blandit ex, ut egestas felis vestibulum nec. Maecenas sem
      nulla, luctus et rhoncus vitae, faucibus at est. Vestibulum interdum
      malesuada neque. Praesent eget lectus eros. Ut et odio non velit cursus
      elementum. Sed vitae tortor urna. Ut ut leo magna. Vivamus convallis ac
      nibh nec venenatis. Donec a sem euismod, posuere risus vitae, ullamcorper
      felis. Curabitur in massa tempus, consectetur eros vel, sodales risus.
      Nulla nec congue lectus, id rutrum turpis. Sed in mauris urna. Ut
      hendrerit tincidunt egestas. Integer rhoncus sollicitudin nulla, vel
      dignissim risus convallis eu. Integer libero magna, suscipit sed euismod
      at, mattis a est. Sed porttitor massa id lacinia faucibus. Vivamus aliquam
      rhoncus sapien sit amet gravida. Aenean scelerisque nunc sit amet
      facilisis dapibus. Ut vel dui at sapien pretium pellentesque. Fusce in dui
      enim. Cras ac turpis orci. Morbi elementum in nulla a lacinia. Aenean eget
      leo elit.
    </p>
    <!-- partial -->
    <script src="./script.js"></script>
  </body>
</html>
