html {
  scroll-behaivor: smooth;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 50px 0 0 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  display: inline-block;
}

li a {
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

#skip-to-main-content {
  position: absolute;
  transform: translatey(-400%);
  transition: transform 325ms ease-in;
  display: block;
  background: grey;
  padding: 0.5rem;
}

#skip-to-main-content:focus {
  transform: translatey(-100%);
}
