<!DOCTYPE html>
<html>
    <head>
        <link href="./styles.css" rel="stylesheet">
    </head>

    <body>
        <nav>
            <div class="container">
              <ul class="menu-main">


                <li><a href="">Tab 01</a>
                  <div class="menu-sub">

                    <div class="menu-col-1">
                      <h3 class="menu-category">Category</h3>
                      <ul>
                        <li><a href="">Link 01</a></li>
                        <li><a href="">Link 02</a></li>
                        <li><a href="">Link 03</a></li>
                        <li><a href="">Link 04</a></li>
                        <li><a href="">Link 05</a></li>
                      </ul>

                      <h3 class="menu-category">Category</h3>
                      <ul>
                        <li><a href="">Link 01</a></li>
                        <li><a href="">Link 02</a></li>
                      </ul>

                      <h3 class="menu-category">Category</h3>
                      <ul>
                        <li><a href="">Link 01</a></li>
                        <li><a href="">Link 02</a></li>
                      </ul>
                    </div>

                    <div class="menu-col-1">
                      <h3 class="menu-category">Category</h3>
                      <ul>
                        <li><a href="">Link 01</a></li>
                        <li><a href="">Link 02</a></li>
                        <li><a href="">Link 03</a></li>
                        <li><a href="">Link 04</a></li>
                        <li><a href="">Link 05</a></li>
                      </ul>

                      <h3 class="menu-category">Category</h3>
                      <ul>
                        <li><a href="">Link 01</a></li>
                        <li><a href="">Link 02</a></li>
                        <li><a href="">Link 03</a></li>
                        <li><a href="">Link 04</a></li>
                        <li><a href="">Link 05</a></li>
                      </ul>
                    </div>

                    <div class="menu-col-1">
                      <h3 class="menu-category">Category</h3>
                      <ul>
                        <li><a href="">Link 01</a></li>
                        <li><a href="">Link 02</a></li>
                        <li><a href="">Link 03</a></li>
                        <li><a href="">Link 04</a></li>
                        <li><a href="">Link 05</a></li>
                      </ul>

                      <h3 class="menu-category">Category</h3>
                      <ul>
                        <li><a href="">Link 01</a></li>
                        <li><a href="">Link 02</a></li>
                        <li><a href="">Link 03</a></li>
                        <li><a href="">Link 04</a></li>
                        <li><a href="">Link 05</a></li>
                      </ul>
                    </div>

                    <div class="menu-col-1">
                      <h3 class="menu-category">Category</h3>
                      <ul>
                        <li><a href="">Link 01</a></li>
                        <li><a href="">Link 02</a></li>
                        <li><a href="">Link 03</a></li>
                        <li><a href="">Link 04</a></li>
                        <li><a href="">Link 05</a></li>
                      </ul>

                      <h3 class="menu-category">Category</h3>
                      <ul>
                        <li><a href="">Link 01</a></li>
                        <li><a href="">Link 02</a></li>
                        <li><a href="">Link 03</a></li>
                        <li><a href="">Link 04</a></li>
                        <li><a href="">Link 05</a></li>
                      </ul>
                    </div>
                  </div>
                </li>

                <li><a href="">Tab 02</a>
                  <div class="menu-sub">
                    <div class="menu-col-2">
                      <h3 class="menu-category">Category</h3>
                      <ul>
                        <li><a href="">Link 01</a></li>
                        <li><a href="">Link 02</a></li>
                        <li><a href="">Link 03</a></li>
                        <li><a href="">Link 04</a></li>
                        <li><a href="">Link 05</a></li>
                      </ul>

                      <h3 class="menu-category">Category</h3>
                      <ul>
                        <li><a href="">Link 01</a></li>
                        <li><a href="">Link 02</a></li>
                      </ul>

                      <h3 class="menu-category">Category</h3>
                      <ul>
                        <li><a href="">Link 01</a></li>
                        <li><a href="">Link 02</a></li>
                      </ul>
                    </div>

                    <div class="menu-col-1">
                      <h3 class="menu-category">Category</h3>
                      <ul>
                        <li><a href="">Link 01</a></li>
                        <li><a href="">Link 02</a></li>
                        <li><a href="">Link 03</a></li>
                        <li><a href="">Link 04</a></li>
                        <li><a href="">Link 05</a></li>
                      </ul>

                      <h3 class="menu-category">Category</h3>
                      <ul>
                        <li><a href="">Link 01</a></li>
                        <li><a href="">Link 02</a></li>
                        <li><a href="">Link 03</a></li>
                        <li><a href="">Link 04</a></li>
                        <li><a href="">Link 05</a></li>
                      </ul>
                    </div>

                    <div class="menu-col-1">
                      <h3 class="menu-category">Category</h3>
                      <ul>
                        <li><a href="">Link 01</a></li>
                        <li><a href="">Link 02</a></li>
                        <li><a href="">Link 03</a></li>
                        <li><a href="">Link 04</a></li>
                        <li><a href="">Link 05</a></li>
                      </ul>

                      <h3 class="menu-category">Category</h3>
                      <ul>
                        <li><a href="">Link 01</a></li>
                        <li><a href="">Link 02</a></li>
                        <li><a href="">Link 03</a></li>
                        <li><a href="">Link 04</a></li>
                        <li><a href="">Link 05</a></li>
                      </ul>
                    </div>
                  </div>
                </li>

                <li><a href="">Tab 03</a></li>
                <li><a href="">Tab 04</a></li>
              </ul>
          </div>
        </nav>
    </body>
</html>