<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Auto Complete</title>
  <link rel="stylesheet" href="./auto-complete.css">

</head>
<body>
<!-- partial:index.partial.html -->
<!--Make sure the form has the autocomplete function switched off:-->
<form autocomplete="off" action="/action_page.php">
  <div class="autocomplete" style="width:300px;">
    <input id="myInput" type="text" name="myCountry" placeholder="Country">
  </div>
  <input type="submit">
</form>
<!-- partial -->
  <script  src="./auto-complete.js"></script>

</body>
</html>
