<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Example 4b : Profile Card</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="./avatar.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="profile">
  <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=80" alt="" class="profile-img">
  <div class="profile-info">
    <h3>Matt Cooper</h3>
    <p>Designer - CircleAI</p>
  </div>
</div>
<!-- partial -->

</body>
</html>
