/* Generic Styles */

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F9FAFB;
  color: #333;
  padding: 50px;
}

/* Generic Styles end */


.container {
  display: flex;
  justify-content: center;
  align-items: stretch; /* Default */
}

.service {
  background-color: white;
  margin: 0 20px;
  padding: 30px;
  max-width: 250px;
  border-radius: 10px;
  box-shadow: 10px 10px 49px -17px rgba(23,23,23,0.2);
  text-align: center;
}

.service .icon {
  background-color: #0D9488;
  color: white;
  font-size: 1.8rem;
  padding: 1.2rem;
  border-radius: 100%;
}

.service h2 {
  margin-top: 1.6rem;
}

.service p {
  margin-top: 0.8rem;
  line-height: 1.4;
  color: #555;
}