<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Example 10b : Footer with Multiple Columns</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="./footer.css">

</head>
<body>
<!-- partial:index.partial.html -->
<footer>
  <div class="footer-col">
    <img src="https://res.cloudinary.com/thirus/image/upload/v1628614672/logos/circleai_dm9slt.png" alt="Circle AI Logo" height="30">
    <p>The Company Tagline</p>
  </div>
  <div class="footer-col">
    <h3>Quick Links</h3>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <div class="footer-col">
    <h3>Contact Us</h3>
    <ul>
      <li></li>
      <li></li>
    </ul>
  </div>
  <div class="footer-col">
    <h3>Social</h3>
    <ul>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</footer>
<!-- partial -->

</body>
</html>
