<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Example 26c : Page Layout with Grid</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="./header-sidebar-footer.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
  <header>
    <h2>Header</h2>
  </header>
  <div class="sidebar">
    <h2>Sidebar</h2>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <div class="main">
    <h2>Main Content</h2>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
  </div>
  <footer>
    <h2>Footer</h2>
  </footer>
</div>
<!-- partial -->

</body>
</html>
