<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Example 19a : Pricing Plans with Grid</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="./layout1.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="wrapper">
  <div class="container">
    <div class="plan">
      <h2>Standard</h2>
      <span>Monthly Plan</span>
      <p>$25</p>
    </div>
    <div class="plan plan-highlight">
      <h2>Popular</h2>
      <span>Monthly Plan</span>
      <p>$40</p>
    </div>
    <div class="plan">
      <h2>Premium</h2>
      <span>Monthly Plan</span>
      <p>$55</p>
    </div>
  </div>
</div>
<!-- partial -->

</body>
</html>
