<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Example 17b : Layout with Sidebar</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="./sidebar.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
  <div class="sidebar">
    <h1>Sidebar</h1>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <div class="main">
    <h1>Main Content</h1>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
  </div>
</div>
<!-- partial -->

</body>
</html>
