<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CodePen - #Javascript30 Day 6: AJAX Type Ahead</title>
    <link rel="stylesheet" href="./typeahead.css" />
  </head>
  <body>
    <!-- partial:index.partial.html -->
    <h1>Ajax Type Ahead</h1>
    <form class="search-form">
      <input
        type="text"
        class="search"
        placeholder="Search for a city or state"
      />
      <ul class="suggestions"></ul>
    </form>
    <!-- partial -->
    <script src="./typeahead.js"></script>
  </body>
</html>
