div {
  border: blue solid 2px;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-container {
  display: flex;
}

.right {
  margin-left: auto;
}

.jr-container {
  display: flex;
  justify-content: flex-end;
}

.center-container {
  display: flex;
  justify-content: center;
}

.between-container {
  display: flex;
  justify-content: space-between;
}

.flex1 {
  display: flex;
}

.flex1-column {
  display: flex;
  flex-direction: column;
}

.flex1-basis1 {
  flex-basis: 300px;
}

.flex1-basis2 {
  flex-basis: 100px;
}

.flex1-grow1 {
  flex-basis: 300px;
  flex-grow: 2;
}

.flex1-grow2 {
  flex-grow: 1;
  flex-basis: 100px;
}

.flex1-shrink1 {
  flex-shrink: 2;
}

.flex1-shrink2 {
  flex-shrink: 1;
}

.flex1-right {
  margin-left: auto;
}

.flex-center {
  display: flex;
  width: 100px;
  height: 100px;
  border: 5px solid red;
  justify-content: center;
  align-items: center;
}
