div {
  margin: 20px;
}

.triangle {
  width: 0;
  height: 0;

  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 120px solid black;
}

.circle {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: black;
}

.semi-circle {
  height: 100px;
  width: 200px;
  border-radius: 100px 100px 0 0;
  background-color: black;
}

.leaf {
  height: 200px;
  width: 200px;
  border-radius: 250px 0 250px 0;
  background-color: black;
}

.drop {
  height: 200px;
  width: 200px;
  border-radius: 0 50% 50% 50%;
  transform: rotate(45deg);
  background-color: black;
}

.heart {
  margin-left: 80px;
  position: relative;
  height: 160px;
  width: 100px;
  background: black;
  border-radius: 200px 200px 0 0;
  transform: rotate(45deg);
}

.heart::before {
  content: '';
  position: absolute;
  height: 160px;
  width: 100px;
  background: black;
  border-radius: 200px 200px 0 0;
  transform: rotate(-90deg);
  left: -30px;
  top: 30px;
}

.star {
  position: relative;
  width: 0;
  height: 0;
  border-bottom: 160px solid black;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
}

.star::before {
  content: '';
  position: absolute;
  left: -100px;
  top: 50px;
  width: 0;
  height: 0;
  border-top: 160px solid black;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
}

.cross {
  margin-top: 50px;
  position: relative;
  background: black;
  height: 100px;
  width: 20px;
  transform: rotate(45deg);
}
