@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  font-family: 'Julius Sans One';
  font-size: 32px;
}

body.switching * {
  transition: all 0.2s;
}

body.dark {
  background-color: #202020;
}
body.dark h1 {
  color: #fafafa;
}
body.dark .dark-mode-switch .bg {
  border-color: #202020;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 40px;
  color: #101010;
}

.dark-mode-switch {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  cursor: pointer;
}
.dark-mode-switch:hover .circle {
  margin-left: 15px;
  margin-top: -95px;
}
.dark-mode-switch .inner {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  overflow: hidden;
}
.dark-mode-switch .bg {
  width: 80px;
  height: 80px;
  background-color: #202020;
  border: 1px solid #f0f0f0;
  border-radius: 40px;
  transition: all 0s;
}
.dark-mode-switch .circle {
  margin-left: 20px;
  margin-top: -100px;
  width: 80px;
  height: 80px;
  background-color: #f0f0f0;
  border: 2px solid transparent;
  border-radius: 40px;
  transition: all 0.2s;
}
.dark-mode-switch .rays {
  position: absolute;
  left: 0;
  top: 0;
}
.dark-mode-switch .rays .ray {
  position: absolute;
  left: 38px;
  top: 40px;
  width: 4px;
  height: 8px;
  background-color: #fbc02d;
  transform-origin: 2px 0;
  opacity: 0;
}
.dark-mode-switch .rays .ray:nth-child(1) {
  transform: rotate(-180deg) translateY(40px);
  transition: all 0.2s;
}
.dark-mode-switch .rays .ray:nth-child(2) {
  transform: rotate(-225deg) translateY(40px);
  transition: all 0.2s;
}
.dark-mode-switch .rays .ray:nth-child(3) {
  transform: rotate(-270deg) translateY(40px);
  transition: all 0.2s;
}
.dark-mode-switch .rays .ray:nth-child(4) {
  transform: rotate(-315deg) translateY(40px);
  transition: all 0.2s;
}
.dark-mode-switch .rays .ray:nth-child(5) {
  transform: rotate(-360deg) translateY(40px);
  transition: all 0.2s;
}
.dark-mode-switch .rays .ray:nth-child(6) {
  transform: rotate(-405deg) translateY(40px);
  transition: all 0.2s;
}
.dark-mode-switch .rays .ray:nth-child(7) {
  transform: rotate(-450deg) translateY(40px);
  transition: all 0.2s;
}
.dark-mode-switch .rays .ray:nth-child(8) {
  transform: rotate(-495deg) translateY(40px);
  transition: all 0.2s;
}
.dark-mode-switch.dark:hover .rays .ray:nth-child(1) {
  transform: rotate(-180deg) translateY(52px);
}
.dark-mode-switch.dark:hover .rays .ray:nth-child(2) {
  transform: rotate(-225deg) translateY(52px);
}
.dark-mode-switch.dark:hover .rays .ray:nth-child(3) {
  transform: rotate(-270deg) translateY(52px);
}
.dark-mode-switch.dark:hover .rays .ray:nth-child(4) {
  transform: rotate(-315deg) translateY(52px);
}
.dark-mode-switch.dark:hover .rays .ray:nth-child(5) {
  transform: rotate(-360deg) translateY(52px);
}
.dark-mode-switch.dark:hover .rays .ray:nth-child(6) {
  transform: rotate(-405deg) translateY(52px);
}
.dark-mode-switch.dark:hover .rays .ray:nth-child(7) {
  transform: rotate(-450deg) translateY(52px);
}
.dark-mode-switch.dark:hover .rays .ray:nth-child(8) {
  transform: rotate(-495deg) translateY(52px);
}
.dark-mode-switch.dark .circle {
  margin-left: 0;
  margin-top: -80px;
  background-color: #fbc02d;
  border-color: #f9a825;
}
.dark-mode-switch.dark .rays .ray {
  opacity: 1;
}
.dark-mode-switch.dark .rays .ray:nth-child(1) {
  transform: rotate(-180deg) translateY(48px);
  transition: all 0.4s;
}
.dark-mode-switch.dark .rays .ray:nth-child(2) {
  transform: rotate(-225deg) translateY(48px);
  transition: all 0.6s;
}
.dark-mode-switch.dark .rays .ray:nth-child(3) {
  transform: rotate(-270deg) translateY(48px);
  transition: all 0.8s;
}
.dark-mode-switch.dark .rays .ray:nth-child(4) {
  transform: rotate(-315deg) translateY(48px);
  transition: all 1s;
}
.dark-mode-switch.dark .rays .ray:nth-child(5) {
  transform: rotate(-360deg) translateY(48px);
  transition: all 1.2s;
}
.dark-mode-switch.dark .rays .ray:nth-child(6) {
  transform: rotate(-405deg) translateY(48px);
  transition: all 1.4s;
}
.dark-mode-switch.dark .rays .ray:nth-child(7) {
  transform: rotate(-450deg) translateY(48px);
  transition: all 1.6s;
}
.dark-mode-switch.dark .rays .ray:nth-child(8) {
  transform: rotate(-495deg) translateY(48px);
  transition: all 1.8s;
}
