<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Verification code input</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css'><link rel="stylesheet" href="./verification-code2.css">

</head>
<body>
<!-- partial:index.partial.html -->
<form action="#">
  <h4 class="text-center mb-4">Enter your code</h4>
  <div class="d-flex mb-3">
    <input type="tel" maxlength="1" pattern="[0-9]" class="form-control">
    <input type="tel" maxlength="1" pattern="[0-9]" class="form-control">
    <input type="tel" maxlength="1" pattern="[0-9]" class="form-control">
    <input type="tel" maxlength="1" pattern="[0-9]" class="form-control">
    <input type="tel" maxlength="1" pattern="[0-9]" class="form-control">
    <input type="tel" maxlength="1" pattern="[0-9]" class="form-control">
  </div>
  <button type="submit" class="w-100 btn btn-primary">Verify account</button>
</form>
<!-- partial -->
  <script  src="./verification-code2.js"></script>

</body>
</html>
