<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CodePen - Flat CSS search box concept with loading animation</title>
    <link
      href="https://fonts.googleapis.com/css?family=Lato"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="./search.css" />
  </head>
  <body>
    <!-- partial:index.partial.html -->
    <div id="search">
      <input id="input" placeholder="Search..." />
      <button id="button"><i class="fa fa-search"></i></button>
      <div class="spinner"><i class="fa fa-spinner"></i></div>
    </div>
    <div class="note">Click the button or hit enter.</div>
    <!-- partial -->
    <script src="./search.js"></script>
  </body>
</html>
