@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;500;600;700&display=swap');

:root {
  --loader-size: 52px;
}

* {
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
  letter-spacing: 1px;
}

body {
  margin: 0;
  font-size: 18px;
}

body, main {
  background: linear-gradient(45deg, #2C303A, #5a5e69)
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15%;
}

.suggestion-box {
  width: 90%;
  max-width: 300px;
  position: relative;
}

.suggestion-box input {
  background-color: rgba(1, 1, 1, .3);
  color: white;
  padding: 15px;
  border: none;
  outline: none;
  font-size: 1em;
  border-radius: 15px;
  width: 100%;
  transition: width .3s;
}

.suggestion-input {
  position: relative;
}

.suggestion-input input, .suggestion-input .loading {
  display: inline-block;
  vertical-align: top;
}

.loader {
  width: var(--loader-size);
  height: var(--loader-size);
  border: 4px solid white;
  border-left-color: transparent;
  border-right-color: transparent;
  background-color: transparent;
  border-radius: 50%;
  animation: rotate 1.5s linear infinite;
  position: absolute;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s .15s;
}

.suggestion-input.loading input{
  width: calc(100% - var(--loader-size) - 5px);
}

.suggestion-input.loading .loader {
  opacity: 1;
}

.suggestion-list {
  background-color: rgba(1, 1, 1, .15);
  position: absolute;
  top: var(--loader-size);
  left: 0;
  right: 0;
  border-radius: 15px;
  transition: transform .3s, opacity .3s;
  transform: translateY(0px);
  opacity: 0;
  max-height: calc(var(--loader-size) * 4);
  overflow: auto;
}

.suggestion-list.displayed {
  opacity: 1;
  transform: translateY(5px);
}

.suggestion-list .suggestion {
  height: var(--loader-size);
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 15px;
  color: white;
  transition: background-color .3s;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 40px;
}

.suggestion.error {
  cursor: initial;
  color: gray;
}

.suggestion > img {
  height: var(--loader-size);
  position: absolute;
  right: 15px;
  top: 0;
  transform: scale(.3);
  transform-origin: right;
}

.suggestion:not(.error):hover {
  background-color: rgba(1, 1, 1, .4);
  border-radius: 3px;
}

#reset {
  width: calc(var(--loader-size));
  height: calc(var(--loader-size));
  background-color: rgba(1, 1, 1, .3);
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  border-radius: 50%;
  border: 2px solid gray;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  z-index: 3;
  transform: scale(0);
  transition: transform .3s;
}

#reset.displayed {
  transform: scale(.5);
}

#reset::before, #reset::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: gray;
  top: 0;
}

#reset::before {
  transform-origin: top left;
  transform: rotate(45deg) translateX(22px);
  left: 0;
}

#reset::after {
  right: 0;
  transform-origin: bottom right;
  transform: rotate(-45deg) translateX(-21px);
}

#reset:hover {
  border-color: white;
}

#reset:hover::after, #reset:hover::before {
  background-color: white;
}

@keyframes rotate {
  0% {
    transform: scale(.5) rotateZ(0deg);
  }
  100% {
    transform: scale(.5) rotateZ(360deg);
  }
}
