<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CodePen - Pure CSS Custom Radio Buttons</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
    <link rel="stylesheet" href="./radio-button.css" />
  </head>
  <body>
    <!-- partial:index.partial.html -->
    <label class="radio radio-gradient">
      <span class="radio__input">
        <input type="radio" name="radio" />
        <span class="radio__control"></span>
      </span>
      <span class="radio__label">Radio 1 - radial-gradient</span>
    </label>

    <label class="radio radio-before">
      <span class="radio__input">
        <input type="radio" name="radio" />
        <span class="radio__control"></span>
      </span>
      <span class="radio__label">Radio 2 - :before</span>
    </label>
    <!-- partial -->
    <script src="./radio-button.js"></script>
  </body>
</html>
