<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Pure CSS Custom Radio Buttons</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="./radio-button4.css">

</head>
<body>
<!-- partial:index.partial.html -->
<form action="">
  <label class="form-control">
    <input type="radio" name="radio" />
    Radio
  </label>

  <label class="form-control">
    <input type="radio" name="radio" checked />
    Radio - checked
  </label>
</form>
<!-- partial -->
  <script  src="./radio-button4.js"></script>

</body>
</html>
