/* Generic Styles */

* {
  box-sizing: border-box;
}

body {
  color: #333;
}

form {
  max-width: 40rem;
  margin: 2rem auto;
  padding: 2rem;
  border: solid 1px #ddd;
}

label {
  display: block;
}

input,
textarea {
  margin-top: 0.3rem;
  padding: 0.6rem;
  border: solid 1px #bbb;
  border-radius: 5px;
  width: 100%;
  resize: none;
  color: #333;
}

button {
  border: none;
  display: inline-block;
  padding: 0.75rem 2.25rem;
  border: 1px solid #ff5574;
  border-radius: 30px;
  background-color: #ff5574;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.875rem;
  cursor: pointer;
}

/* Generic Styles End */

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.6rem;
}

.message-block {
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

button {
  grid-column: 1 / -1;
}