@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
body {
  font-family: 'Slabo 27px', serif;
  padding: 40px 80px;
}

.visually-hidden,
.checkbox input,
.radio input,
.hidden-label span {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

label,
button {
  display: block;
  margin: 0 0 12px;
}

.icon,
.select-field:after,
.checkbox label:after,
button[data-dojo-icon]:before {
  direction: ltr;
  display: inline-block;
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  speak: none;
  text-transform: none;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

button {
  background-color: #4c5b72;
  border: none;
  border-radius: 30px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
  color: #fff;
  font-weight: bold;
  padding: 12px 20px;
  transition: background 0.3s ease-out;
}
button.icon-only {
  padding: 12px 14px;
}
button:hover,
button:focus {
  background-color: #4e7d57;
  cursor: pointer;
  outline: 4px solid transparent;
}

button[data-dojo-icon]:before {
  content: attr(data-dojo-icon);
  margin: -3px 0 0 -6px;
  padding-right: 8px;
}
button[data-dojo-icon].icon-only:before {
  padding: 0;
  margin: 0;
}

fieldset {
  border: none;
  margin: 20px 0;
  padding: 0;
}

legend {
  display: block;
  font-size: 18px;
}

.checkbox,
.radio {
  position: relative;
}
.checkbox label,
.radio label {
  cursor: pointer;
  min-height: 18px;
  padding: 10px 0 10px 40px;
}
.checkbox label:before,
.radio label:before {
  content: '';
  border: 3px solid #4c5b72;
  height: 24px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 24px;
}
.checkbox input:focus ~ label:before,
.radio input:focus ~ label:before {
  border-color: #72c2c1;
}

.checkbox label:after {
  content: 'done';
  left: 3px;
  position: absolute;
  top: 7px;
  transform: scale(0);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.checkbox input:checked ~ label:after {
  transform: scale(1);
}

.radio label:before {
  border-radius: 50%;
}
.radio label:after {
  content: '';
  background-color: #4c5b72;
  border-radius: 50%;
  content: '';
  height: 20px;
  left: 5px;
  position: absolute;
  top: 9px;
  transform: scale(0);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  width: 20px;
}
.radio input:checked ~ label:after {
  transform: scale(1);
}

.text-field input,
.text-field textarea {
  border: 2px solid #4c5b72;
  display: block;
  padding: 6px 12px;
}
.text-field input:focus,
.text-field textarea:focus {
  outline: 4px solid transparent;
  border-color: #72c2c1;
}

.select-field {
  display: inline-block;
  position: relative;
}
.select-field:before {
  background-color: #4c5b72;
  bottom: 0;
  content: '';
  height: 36px;
  pointer-events: none;
  position: absolute;
  right: 0;
  width: 36px;
}
.select-field:after {
  bottom: 4px;
  color: #fff;
  content: 'keyboard_arrow_down';
  pointer-events: none;
  position: absolute;
  right: 6px;
}
.select-field select {
  background-color: transparent;
  border: 3px solid #4c5b72;
  border-radius: 0;
  cursor: pointer;
  display: block;
  outline: 0;
  padding: 6px 46px 6px 12px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select-field select:focus {
  border-color: #72c2c1;
}
